body{
  height:1970px;
  width:1240px;
  margin: auto;
}
header{
  height: 100px;
  max width: 1240px;
  width: 100%;
}
.clear-fix{
  clear: both;
}
.logo{
  float:left;
  width:45px;
}
.logo-text{
  width:600px;
  float: left;
}
.logo-text h2{
  margin:auto;
  font-family: 'Yellowtail', cursive;
}
.logo-text p{
  margin: auto;
  font-family: 'Ubuntu Mono', monospace;
   word-spacing: -6px;
}
.social-links{
  float: right;
  width:30%;
  align-items: right;
}
.social-links li{
  align: right;
}
li{
  text-decoration: none;
  display:inline-block;
}
.title-wrap{
  height:200px;
  width:100%;
}
.title{
  float: left;
  font-family: 'Ubuntu Mono', monospace;
}
.print-button img{
  float: left;
}
.print-button p{
  float: right;
}
.hero-image{
  width:100%;
  margin: auto;
}
.hero-image img{
  width: 100%;
  margin: auto;
}
.recipe{
  background-image: url(images/list-bg.png);
  width:100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}
.recipe ul li{
  display:block;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  align-items: left;
}
input{

}
.left-list ul{
  clear: both;
  float: left;
  display: inline;
}
.right-list ul{
  align-items: left;
  display: inline;
}
.author{
  width: 100%;
  height:100px;
}
.author-img{
  width:10%;
  float: left;
}
.author-info{
  width: 60%;
  float: left;
}
.share-button{
  width:30%;
  float: right;
  display: block;
}
button{
  background-color: red;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
}
footer{
  display: block;
}
